:root {
  --primary: #904b03;
  --secondary: #828487;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: white;
  border-bottom: 1px solid black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

main {
  display: flex;
}

.sidebar {
  background-color: #f4f4f4;
  width: 200px;
  min-height: 100vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.category-btn {
  padding: 1em;
  margin-bottom: 0.5em;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.category-btn.active {
  background-color: var(--primary);
  color: #fff;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding: 1em;
}

.menu-item {
  text-align: center;
  border: 1px solid #ddd;
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px; /* Atur tinggi tetap */
  width: 250px;
  box-sizing: border-box; /* Pastikan padding dan border tidak mempengaruhi ukuran */
}

.menu-item img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  flex-shrink: 0; /* Pastikan gambar tidak mengecil */
}

.menu-item .title {
  font-size: 18px;
  margin-top: 1em;
  flex-grow: 1; /* Isi ruang yang tersisa untuk menjaga jarak yang konsisten */
}

.menu-item .price {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.menu-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-summary {
  position: absolute;
  right: 0;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 1em;
  width: 300px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.btn-bayar {
  border: none;
  border-radius: 100px;
  width: 100%;
  padding: 10px;
  background-color: var(--primary);
  color: white;
}

/* Styles for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  margin: 10% auto;
  width: 50%;
  border-radius: 8px;
}

.modal-header,
.modal-footer {
  padding: 10px;
  text-align: center;
}

.modal-body {
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.pay-btn {
  background-color: #4caf50;
  color: white;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
}

.riwayat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.transaction-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  margin: 20px 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.transaction-card h2 {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}
.transaction-card p {
  margin: 5px 0;
  font-size: 16px;
}
.transaction-card .total {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}

.edit {
  border: none;
  background-color: var(--primary);
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

.delete {
  border: 1px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
  padding: 10px;
  border-radius: 10px;
}
